.footer_box {
  position: absolute;
  margin-top: 205px;
  width: 1440px;
  height: 62px;
  left: 0px;
  top: 829px;
  background-color: #f2f2f2;
}

.copyright_content {
  position: absolute;
  left: 40.07%;
  right: 40.07%;
  top: 38.71%;
  bottom: 37.1%;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.cookiepolicy_content {
  position: absolute;
  left: 8.54%;
  right: 80%;
  top: 38.71%;
  bottom: 37.1%;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.social_links {
  position: absolute;
  left: 83.82%;
  right: 8.54%;
  top: 51%;
  bottom: 33.87%;
}
