.main_box {
  position: absolute;
  width: 560px;
  height: 50px;
  left: 440px;
  top: 0px;
}
.reconnect_button {
  width: 120px;
  height: 50px;
  left: 880px;
  top: 0px;
}
.connection_message {
  width: 306px;
  height: 17px;
  left: 458px;
  top: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.reconnect_button_text {
  width: 72px;
  height: 17px;
  left: 904px;
  top: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
